.right_inner_content,.right_inner_item{
	background-color:#ffffff;
	margin-left:31px;
	padding-bottom: 15px;
}
.right_inner_content{
	width:967px;
	margin-top:40px;
	padding-bottom: 124px;
}
.right_inner_title{
	margin-left:29px;
	padding-top:18px;
	color:#5b5b5b;
	font-size:15px;
}
.title_middle{
	color:#2c2e83;
	margin-left:55px;
}
.title_right{
	color:#00348a;
	float:right;
	margin-right:29px
}
.right_inner_conditions{
	background-color:#f8f8f8;
	width:944px;
	margin:auto;
	height:34px;
	margin-top:32px;
	font-size:14px;
	line-height:34px;
}
.right_inner_conditions a{
	color:#9fa0a0;
	margin-left:15px;
	margin-right:42px;
}
.right_inner_conditions .active{
	color:#2c2e83
}
.price_title{
	font-size:30px;
	color:#ffffff;
	margin-top: 25px;
}
.use_condition{
	font-size:12px;
	color:#ffffff;
}
.time_area{
    color: #2c5051;
    font-size: 12px;
    margin-top: 15px;
}
.right_inner_tickets{
	margin-left:12px;
	overflow:hidden;
}
.item{
	width: 223px;
	float:left;
	margin-right: 15px;
}
.right_inner_tickets ul{
	height:129px;
	text-align:center;
	background-size: 223px 129px
}
.unused{
	background:url(../image/ticket_bak_1.png) no-repeat;	
}
.used{
	background:url(../image/ticket_bak_1.png) no-repeat;	
}
.over_date{
	background:url(../image/ticket_bak_2.png) no-repeat;	
}
.unused.last{
	margin-right:0px;
}
.ticket_no{
	color:#2c5051;
	font-size:14px;
	text-align:center;
	height:37px;
	line-height:37px;
}
.ticket_btn{
	width:152px;
	height:26px;
	color:#72d2d5;
	font-size:14px;
	margin:auto;
	text-align:center;
	border:1px solid #71d2d4;
	line-height:26px;
	border-radius:5px;
}
.close_over_time_icon{
	background:url(../image/close_over_date.png) no-repeat;
}
.over_time_icon{
	background:url(../image/over_date.png) no-repeat;
}
.used_icon{
	background:url(../image/used.png) no-repeat;
}
.item ul{
	position:relative;
	overflow: hidden;
	margin-top:24px
}
.mask{
	height: 54px;
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100px;
    left: -1px;
}
.over_date_time{
	text-align:right;
	font-size:14px;
	color:#f06600;
	margin-right:18px;
}