.right_inner_content,.right_inner_item{
	background-color:#ffffff;
	margin-left:31px;
	padding-bottom: 15px;
}
.right_inner_content{
	width:967px;
	margin-top:20px;
}
.right_inner_title{
	margin-left:29px;
	padding-top:18px;
	color:#5b5b5b;
	font-size:15px;
}
.add_address_div{
	line-height:34px;
	height:34px;
	margin-top:25px;
}
.right_inner_item,.add_address_div{
	padding-left:85px;
}
.add_address_div,.form_label{
	color:#666667;
	font-size:14px;
}
.decoration{
	color:#666667;
	font-size:14px;
}
.light_decoration{
	color:#2c2e83;
	font-size:14px;
}
.right_inner_item img{
	vertical-align:middle;
}
.right_inner_item.first{
	margin-top:36px;
}
.decoration.right{
	margin-left:56px;
}
.right_inner_item.second{
	padding-top:28px;
}
.level_log_div{
	width:642px;
	margin:auto;

}
.level_log_div .img_left{
	margin-right:127px;
}
.level_log_info_div{
	width: 50em;
    margin: auto;
    background: url(../image/line-middle.png) no-repeat;
    background-position: 6em 31px;
    background-size: 36.8em;
    height: 35px;
}
.level_log_info_div .img_left{
	margin-right: 65px;
	text-align:center;
}
.level_log_info_div ul{
	float:left;
}
.img_left.last{
	margin-right:0px;
	margin-left:-10px;
}
.right_inner_content.last{
	height:260px;
}
.right_inner_content.first{
	margin-top:46px;
}
.level_log_info_div ul li{
	line-height:28px;
}