.right_inner_content,.right_inner_item{
	background-color:#ffffff;
	margin-left:31px;
	padding-bottom: 15px;
}
.right_inner_content{
	width:967px;
}
.right_inner_title{
	margin-left:29px;
	padding-top:18px;
	color:#5b5b5b;
	font-size:15px;
}
.add_address_div{

	height:30px;
	margin-top:25px;
}
.right_inner_item,.add_address_div{
	padding-left:85px;
}
.add_address_button{
	width:109px;
	cursor:pointer;
}
.right_inner_item,.add_address_button{
	border:1px solid #dddddd;
}
.right_inner_item{
	width:777px;
	height:267px;
}
.close_div a,.add_address_div{
	color:#515151;
	font-size:14px;
}
.close_div{
	text-align:right;
	margin-top:10px;
	margin-right:10px;
}
.item_title_span{
	font-size:18px;
	color:#000000;
	margin-right:29px;
}
.item_row table tr{
	height:25px;
}
.first_column{
	color:#666667;
	font-size:14px;
	width:94px;
}
.second_column{
	color:#000000;
	font-size:14px;
	width:251px;
}
.button_div_left,.button_div_right{
	margin-top:10px;
	float:left;
	width:50%;
}
.button_div_left img{
	vertical-align:middle;
}
.button_div_left *,.button_div_right *{
	color:#2c2e83;
	font-size:15px;
}
.button_div_right{
	float:right;
	text-align:right;
}
.button_div_right *{
	margin-right:36px;
}
.add_address_button{
	background-color:#f3f2f2;
	height:30px;
	line-height:30px;
	display:inline-block;
	text-align:center;
}
.right_inner_item{
	margin-bottom:25px;
}
.item_row{
	margin-top:10px;
}
.right_inner_list{
	margin-top:10px;
}
.right_inner_item{
	padding: 0px;
    margin-left: 85px;
}
.item_row,.item_title{
	margin-left:39px;
}
.box{
	width:768px;
	height:460px;
	border:5px solid #c2c2c2;
	position:relative;
	top:-30em;
	left:5.2em;
	background-color:#ffffff;
}
.box_inner{
	border:1px solid #b1b1b1;
	width:100%;
	height:100%;
}
.box_header{
	background-color:#f3f4f3;
	height:32px;
	width:100%;
	
}
.float_right{
	float:right;
}
.float_left{
	float:left;
}
.box_header_title{
	font-size:14px;
	color:#666667;
	padding:10px;
	line-height:100%;
}
.box_header_title a{
	color:inherit;
}
.box_body{
	margin-top:33px;
}
.box_body_row{
	height:34px;
	font-size:14px;
	color:#666667;
	margin-bottom:23px;
}
.box_body_row label{
	width:108px;
	display:inline-block;
	text-align:right;
}
.box_body_row span{
	color:#e33735;
}
.box_body_row select{
	height:inherit;
}
.user_name{
	height:28px;
	display:inline-block;
	width:227px
	
}
.user_name_button{
	color:#e33735;
	font-size:12px;
	background-color:#ffebeb;
	border:1px solid #ffbdbd;
	height:100%;
}
.submit_address_button{
	width:112px;
	height:28px;
	background-color:#f5f5f5;
	border:1px solid #dddddd;
	border-radius:3px;
	color:#272727;
	font-size:14px;
}
.address{
	width:614px;
}
input[name=mobile],input[name=tel]{
	width:186px;
}
input[name=email]{
	width:228px;
}
.box_body_row .tel_label{
	width:85px;
	text-align:center;
}
.box_body_row select{
	width:120px;
}